<h2>This is the movie app.</h2>


<p> Title: <%= @movietitle %>  </p>
<p> Director: <%= @moviedirector %>  </p>
<p> Rating: <%= @movierating %>  </p>
<p> Year: <%= @movieyear %>  </p>


<img src="<%= @img %>" />

