<h2> This is the stock app </h2>

<h2> Here is the stock information for <%= @company %> </h2>

<p> Symbol: <%= @stocksym %> </p>
<p> The high of today is <%= @stockhigh %> .</p>
<p> The low of today is <%= @stocklow %> . </p>
<p> The today it ended at <%= @stocklast %> . </p>

<img src="<%= @img %>" />